.navbar{
    margin-top: 2rem ;
}
.title {
    display: flex;
width: 7.625rem;
height: 2.5rem;
flex-direction: column;
justify-content: center;
    color: #000;

/* material-theme/title/large */
font-family: Roboto;
font-size: 1.375rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 127.273% */
gap: 0.8125rem;
}

.nav-custom{
    display: inline-flex;
align-items: center;
gap: 0.8125rem;

}
.nav-custom img{
    width: 1.5rem;
height: 1.5rem;
}
li,.nav-item,.nav-link{
    color: #000 !important;
margin-left: 2rem;
margin-right: 2rem;
/* material-theme/title/large */
font-family: Roboto;
font-size: 1.375rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 127.273% */
}



/* :root {
    --main-color: black;
    --secondary-color: #283271;
  }

  a {
   
    color: var(--main-color); 
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-image: linear-gradient(
      to right,
      var(--secondary-color),
      var(--secondary-color) 50%,
      var(--main-color) 50%
    ); 
    background-size: 200% 100%;
    background-position: 100%;
  } */
  
 .title:hover,.nav-link:hover,a:hover {
    color: #005AC1!important;
  }