
.title {
    display: flex;
width: 7.625rem;
height: 2.5rem;
flex-direction: column;
justify-content: center;
    color: #000;

/* material-theme/title/large */
font-family: Roboto;
font-size: 1.375rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 127.273% */
gap: 0.8125rem;
}

.nav-custom{
    display: inline-flex;
align-items: center;
gap: 0.8125rem;

}
.nav-custom img{
    width: 1.5rem;
height: 1.5rem;
}
li,.nav-item,.nav-link{
    color: #000 !important;
margin-left: 2rem;
margin-right: 2rem;
/* material-theme/title/large */
font-family: Roboto;
font-size: 1.375rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 127.273% */
}




 .title:hover,.nav-link:hover,a:hover {
    color: #005AC1!important;
  }