

.card{
 background-color: var(--material-theme-sys-light-secondary-fixed, #DBE2F9);

    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.14));
    outline: none;
    border: none;
    height: 8rem;

border-radius: 10px;
}
.card:hover .card-text, .card:hover .card-title{
    color: #ADC6FF !important;
    border-bottom: none!important;
  }
.card:hover {
    background-color: #141B2C;
 
  }

.card-title{
    color: var(--material-theme-sys-light-on-primary-container, #001A41);
padding-left: 1rem;
padding-top: 1rem;
/* material-theme/label/medium */
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; /* 133.333% */
}
.card-text{
    padding-left: 1rem;

color: var(--material-theme-sys-light-on-primary-container, #001A41);


/* material-theme/label/medium */
font-family: Roboto;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; /* 133.333% */
}
@media(max-width:1024px) {
    .card{
      padding-bottom: 12rem;
     
    }
    .card-title{
        font-size: 1rem;
        line-height: 1.25rem; /* 142.857% */
    }
    .card-text{
        font-size: .9rem;

    }
}


@media(max-width:430px) {
    .card{
        padding-top: -4rem;
        margin-left: 3rem;
        margin-top: -12.75rem;
        margin-bottom: 10rem;
        height:2rem;
        padding-bottom: 8rem;
    }
    .card-title{
        font-size: 1rem;
        line-height: 1rem; /* 145.455% */ /* 142.857% */
       
    }
    .card-text{
        font-size: .7rem;
      
    }
    }