.column-2{
  width: 55%!important;
  position: relative;

}
.column-1 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45% !important;
  margin-left: 60px !important;
  background-image: url("https://images.unsplash.com/photo-1575425186775-b8de9a427e67?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  aspect-ratio: 19/4;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative; /* Add this line to make the child positioning relative to this container */

  /* Additional styles to position the text at the bottom */
  padding: 20px; /* Adjust padding as needed */
  color: white;
}
.column-1 h6 {
  position: absolute;
  bottom: 0;
 
 /* Center the text horizontally */
}

@media (max-width: 991px){
  .column-2 {

width: 100%!important;
  }
  .column-1{
    display: none!important;
  }
}
