.textcolor{
    color: #004494;
    text-align: start!important;
}
h2{
    text-align: start!important;
}
.menu{
width: 100%;
    margin-top: 2rem;
    text-align: start!important;
}

.textstart{
    text-align: start!important;
}

#examDetails {
  
    min-height: 0vh!important; 
}

#examDetails {
    margin-top: 4rem;

}
#examDetails #main {
    padding-top: 4rem;
    background:  #DBE2F9;
    border-radius: 0.625rem;
}
#main{
    padding-top: 3rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;

}
@media(max-width:430px) {
#disclaimer{
    display: none;
}
.sidebar {
    flex-direction: row!important; /* Display horizontally on mobile */
    flex-wrap: wrap;
    

  }

  .sidebar {
    flex-wrap: nowrap; /* Prevent wrapping of list items */
    overflow-x: auto; /* Add horizontal scrollbar if list items overflow */
    white-space: nowrap; /* Prevent line breaks within list items */
  }

  .sidebar li {
    display: inline-block; 
   
  }
}

.sidebar {
    display: flex;
    flex-direction: column; /* Display vertically on desktop */
    background-color: #DBE2F9;
    padding: 10px;
    border-radius: 10px;
  }

  .sidebarContainer {
    width: 100%;
 

  }
  .sidebar {
    flex-wrap: nowrap;
  }

  .sidebar li {
    display: inline-block;
  }